.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.countdownBanner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imageContainer {
  max-width: 300px;
  width: 100%;
  margin-top: 100px;
  /* To account for the fixed banner */
}

@media (max-width: 600px) {
  .countdownBanner {
    font-size: 14px;
  }

  .imageContainer {
    max-width: 250px;
  }
}

.largerCountdown {
  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 2rem;
  /* Adjust this value as needed */
  font-weight: bold;
}